<nav ng-controller="menuCtrl" class="top-bar docs-bar hide-for-small" data-topbar="">
  <ul class="title-area">
    <li class="name">
      <h1><a href="/"><i class="fa fa-angellist"></i> User Administration</a>
      </h1>
    </li>
  </ul>
  <section class="top-bar-section">
    <ul class="right">
      <li class="divider"></li>
      <li ng-show="user.currentUser.username" class="has-dropdown not-click">
        <a href="#" class="">{{user.currentUser.username}}</a>
        <ul class="dropdown">
          <li class="title back js-generated">
            <h5><a href="">Back</a>
            </h5>
          </li>
          <li class="parent-link show-for-small"><a class="parent-link js-generated" href="#">Support</a>
          </li>
          <li><a href="#">Edit Account</a>
          </li>
          <li><a href="#">Do more</a>
          </li>
          <li><a href="#">Do something else</a>
          </li>
        </ul>
      </li>
      <li class="divider"></li>
      <li class="has-form" ng-show="user.currentUser.username">
        <a href="#" class="small button radius"><i class="fa fa-power-off"></i></a>
      </li>
    </ul>
  </section>
</nav>